*{
  font-family: sans-serif;
  background-color: black;
  color:cornflowerblue;
}

h1, h3{
  font-family: serif;
}

ol{
  list-style: upper-roman;
}

h1{
  color: red;
  font-size: 40px;
}

[class = "quote"]{
  color: blue;
  font-size: 16px;
}

#list{
  color: blue;
  font-family: arial;
}

.quote{
  font-family: monospace;
}

#tegas{
  color: red;
  font-family: monospace;
  font-size: 18px;
}



